.cart-widget {
    padding: 5px 10px;
    position: relative;
    display: inline-block;
  }

.icon {
    font-size: 1.2rem;
    color: var(--clr-secundario);
    margin-left: 1rem;
  }

.cont {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    right: -18px;
    padding: 2px 5px;
    border-radius: 50%;
    background: var(--clr-secundario);
    color: var(--clr-primario);
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }

  .empty-cart {
    display: none;
  }

  @media screen and (max-width: 768px) {
      .cart-widget {
        display: block;
      }
  }
