.header {
    padding: 1rem;
    background-color: var(--clr-primario-dark);
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__content nav button {
    color: var(--clr-secundario);
    margin: 0 15px;
    font-size: 1rem;
    transition: .3s;
}

.cart {
    display: none;
}


.header__content-menu nav button:hover {
    color: var(--clr-terciario);
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  color: var(--clr-secundario);
  font-size: 1.8rem;
  visibility: hidden;
  opacity: 0;
  align-items: center;
}


@media screen and (max-width: 768px) {
    .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    .header nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        transition: .7s;
        transform: translateY(-100vh);
        background-color: var(--clr-primario-dark);
    }

    .cart {
        display: block;
    }

    .header .responsive_nav {
        transform: none;
    }

    .nav-close-btn {
        color: var(--clr-secundario);
        font-size: 3rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }
}