.bot {
    display: flex;
    flex-direction: column;
}

.bot__content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2rem;
}

.bot__content-contador {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.bot__content-contador > span {
    background: transparent;
    text-align: center;
    width: 30px;
    margin: 0 1rem;
    font-size: 1rem;
}



@media screen and (max-width: 768px) {

    .bot {
        padding-top: 0;
    }
    
    .bot__content {
        flex-direction: column;
        margin-top: 2rem;
        gap: 0;
    }

}